body {
  margin: 0;
}
.main-header {
  background-color: #c3f8ff;
  font-weight: bold;
}
.main-header a {
  color: black;
  text-decoration: none;
}
img {
  width: 200px;
}
.main-nav__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 71px);
}
.main-nav__item {
  display: inline-block;
  text-decoration: none;
  list-style: none;
}
p {
  font-weight: bold;
}

h1,
h2 {
  color: #293462;
}
h1 {
  background-color: #ffebad;
  padding: 10px;
  text-align: center;
}
h2 {
  background-color: #c3f8ff;
  padding: 10px;
  text-align: center;
}
.container-1 {
  display: flex;
}
.box-1 {
  padding: 50px;
  width: 33%;
}
.box-2 {
  padding: 50px;
  width: 33%;
}
.box-3 {
  padding: 50px;
  width: 33%;
}
.box-1 li {
  padding: 5px;
  background-color: #fff6bf;
  text-align: center;
  font-weight: bold;
}
.box-2 li {
  padding: 5px;
  background-color: #fff6bf;
  text-align: center;
  font-weight: bold;
}
.box-3 li {
  padding: 5px;
  background-color: #fff6bf;
  text-align: center;
  font-weight: bold;
}
aside a {
  padding: 2px;
  text-decoration: none;
}
footer {
  padding: 10px;
  text-align: center;
  background-color: #c3f8ff;
  font-size: 20px;
  font-weight: bolder;
}
hr {
  margin: 0;
}
